#banner-2 {
    position: relative;
    width: clamp(85%, 90vw, 95%);
    height: clamp(50vh, 70vh, 80vh);
    margin: 0 auto clamp(8vh, 15vh, 20vh);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#banner-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;  
    transition: transform 0.5s ease, filter 0.5s ease;
}

#banner-2 h1 {
    position: absolute;
    bottom: -30%;
    left: 30%;
    width: clamp(15vw, 50%, 50vw); /* min 15vw, preferred 50%, max 50vw */
    font-size: clamp(4rem, 4vw, 6rem); /* responsive font size */
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}


#banner-2 h1 .highlight {
    background-color: rgb(169, 242, 215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-2 button {
    position: absolute;
    right: 50px;
    bottom: 40px;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(148, 224, 199);; 
    border: none;
    border-radius: 4px;
}

#banner-2 button:hover{
    cursor: pointer;
}

#banner-2:hover{
    cursor: default;
}

#banner-2:hover img {
    transform: scale(1.05); 
}

#banner-2:hover h1 {
    transform: translateY(-5px); 
}