#banner-1 {
    position: relative;
    margin-bottom: clamp(5vh, 7vh, 10vh);
    width: 100%;
    height: 90vh;
}

#banner-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;   
}


#banner-1 h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: clamp(3rem, 4vw, 6rem);
    max-width: 50vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
}

#banner-1 h1:hover{
    cursor: default;
}

#banner-1 h1 .highlight,
#banner-1 h1 .highlight2 {
    background-color: rgb(169, 242, 215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}