#Journal {
    width: 100%;
    min-height: fit-content;
    padding: 2vw 2vw 5vh 2vw; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

#journal-main-container {
    display: flex;
}

#Journal h1 {
    font-size: clamp(24px, 5vw, 55px);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.8em;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

#Journal h1:hover {
    cursor: default;
}

#journal-news-container {
    display: flex;
    margin-left: clamp(1vw, 2vw, 3vw);
    background-color: wheat;
    width: clamp(500px, 45%, 800px); 
    height: clamp(500px, 90vh, 700px); 
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-sizing: border-box;
}


#journal-news-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    filter: brightness(1.03);
    cursor: pointer;
}

#journal-news-container img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 8px 8px 0 0;
}

#journal-news-container:hover img {
    transform: scale(1.03);
}

#journal-news-container h1 {
    font-size: clamp(16px, 3vw, 40px);
    margin: 1rem 1rem 0 1rem;
    color: #333;
    transition: color 0.3s ease, font-size 0.3s ease;
    word-wrap: break-word;  
    line-height: 1.2;       
}


#journal-news-container:hover h1 {
    color: #007BFF;
}

#journal-news-container p {
    font-size: clamp(18px, 3vw, 22px);
    margin: 0.5rem 1rem 1rem 1rem;
    color: #555;
    line-height: 1.5;
}

#info-cards-container {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2rem);
    padding-left: clamp(10px, 5vw, 25vw); /* adjusted for smaller screens */
    padding-right: clamp(10px, 5vw, 20px);
    margin-bottom: 2rem;
    box-sizing: border-box;
}


.info-card {
    width: clamp(250px, 45vw, 700px);  
    height: clamp(350px, 65vh, 900px);
    border-radius: 8px 8px 0 0;
    background-color: #f5deb3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.info-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    filter: brightness(1.03);
    cursor: pointer;
}

.info-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.info-card:hover img {
    transform: scale(1.03);
}

.info-card h2 {
    font-size: clamp(18px, 3vw, 24px);
    margin: 0.5rem 1rem 0 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.info-card:hover h2 {
    color: #007BFF;
}

.info-card p {
    font-size: clamp(14px, 2.5vw, 18px);
    margin: 0.5rem 1rem 1rem 1rem;
    color: #555;
    line-height: 1.4;
}