/* === Base styles === */
@import url("./base/base.css");
@import url("./base/responsiveness.css");

/* === Components === */
@import url("./components/btn.css");
@import url("./components/catogories.css");
@import url("./components/header.css");
@import url("./components/sign-up-form.css");

/* === Pages === */
@import url("./pages/main_page/banner-2.css");
@import url("./pages/main_page/banner-1.css");
@import url("./pages/main_page/journal.css");

/* === Shorts & animations === */
@import url("./animation.css");
